@import "tailwindcss";

@theme inline {
  --color-one: #003049;
  --color-two: #d62828;
  --color-three: #f77f00;
  --color-four: #fcbf49;
  --color-five: #eae2b7;
  --color-six: #ffffff;
  --color-seven: #000000;

  /*  Fonty */
  --font-sans: "Cormorant Garamond", serif;
  --font-body: "Italiana", sans-serif;

  /*  Spacing */
  --spacing-128: 32rem;
  --spacing-144: 36rem;

  /*  Zaoblení */
  --radius-4xl: 2rem;

  /*  Animace */
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }

  --animate-scroll: scroll 40s linear infinite;
}

/*  Plugins */
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/aspect-ratio";

@layer components {
  button {
    @apply px-4 py-2 bg-three text-two rounded-lg shadow-md transition;
  }

  button:hover {
    @apply bg-two text-six;
  }

  h1 {
    @apply text-4xl font-bold text-six mb-4;
  }
  h2 {
    @apply text-3xl font-semibold text-six mb-3;
  }
  h3 {
    @apply text-2xl font-medium text-six mb-2;
  }

  p {
    @apply text-xl leading-relaxed text-six mb-4;
  }

  label {
    @apply block text-sm font-medium text-six;
  }

  ul {
    @apply list-disc list-inside mb-4 text-six;
  }

  li {
    @apply mb-2;
  }

  input,
  textarea {
    @apply w-full px-4 py-2 border border-two rounded-lg shadow-sm 
           focus:outline-none focus:ring-2 focus:ring-three focus:border-three
           transition;
  }

  textarea {
    @apply min-h-[120px] resize-y;
  }

  form {
    @apply mx-auto max-w-lg space-y-4 rounded-2xl bg-six p-6 shadow-md;
  }
}

@layer utilities {
  .blueBorder {
    @apply border-2 border-blue-500;
  }
}
